<p>Deposit Confirmation</p>
<p>
  We have received your deposit of <span><%= @transaction.amount %> <%= @transaction.amount_currency %></span> and have credited your account.
</p>

<%= link_to 'View This Transaction', '#' %>

<p>If you did not make this request, please <a href='#'>contact us</a> immediately.</p>
