dist: trusty

sudo: required

language: ruby

cache:
  - bundler
  - yarn

env:
  - RAILS_ENV=test
    RAKE_ENV=test
    DISPLAY=:0.0
    BOT_USERNAME=kite-bot
    BOT_NAME="Kite Bot"
    BOT_EMAIL=kite-bot@heliostech.fr
    DOCKERHUB_USER=peatioexchange
    PEATIO_ROOT_URL='http://peatio.icu:5000'
    BARONG_ROOT_URL='http://barong.icu:4000'

services:
  - mysql
  - docker

# Execute all of the commands which need to be executed before installing dependencies.
before_install:
  - gem install bundler
  - . $HOME/.nvm/nvm.sh
  - nvm install 8
  - nvm use 8
  - npm i -g yarn
  - docker pull $DOCKERHUB_USER/applogic:latest || true
  - docker login -u $DOCKERHUB_USER -p $DOCKERHUB_PASSWORD || true # Don't let the build fail in case of broken authentication in Docker Hub.
  - ./bin/init_config

# Execute all of the commands which should install application dependencies.
install:
  - bundle install --deployment --without production development --jobs=$(nproc) --retry=3

# Execute all of the commands which need to be executed before running actual tests.
before_script:
  - ./bin/init_config
  - bundle exec rake yarn:install db:create db:migrate

# Execute all of the commands which should make the build pass or fail.
script:
  - bundle exec rspec
  # - bundle exec rubocop
  - docker build --tag $DOCKERHUB_USER/applogic:latest --cache-from $DOCKERHUB_USER/applogic:latest .

# Execute all of the commands which need to be executed after the build passed.
after_success: docker push $DOCKERHUB_USER/applogic:latest || true

# Execute all of the commands which need to be executed after the build failed.
after_failure:
